<!DOCTYPE html>
<html>
<head>
    <title>Skin Lesion Detection</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Skin Lesion Detection</h1>

<form id="uploadForm">
    <input type="file" name="image" id="image" required>
    <br><br>
    <button type="submit">Detect</button>
</form>

<h3 id="result"></h3>

<script>
document.getElementById("uploadForm").addEventListener("submit", async function(e) {
    e.preventDefault();

    const formData = new FormData();
    const imageFile = document.getElementById("image").files[0];
    formData.append("image", imageFile);

    const response = await fetch("/predict", {
        method: "POST",
        body: formData
    });

    const data = await response.json();

    document.getElementById("result").innerHTML =
        `Result: <b>${data.label}</b><br>Confidence: ${data.confidence}%`;
});
</script>

<p style="color:red">
⚠️ This is not a medical diagnosis.
</p>

</body>
</html>
